/* MADE WITH LOVE BY JACQUELYN ZEN */

body {
	background-color: #F2E4B3;
}

#boombox {
	margin-top: 100px;
}

#boombox,
#box,
#top,
#controls {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#antenna {
	height: 250px;
	width: 5px;
	background-color: #451818;
	margin-right: 70px;
	display: inline-block;
	margin-left: 60px;
}

#antennaDot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #451818;
	margin-top: -5px;
	margin-left: -5px;
	cursor: pointer;
}

#antenna1 {
	height: 250px;
	width: 5px;
	background-color: #451818;
	margin-right: 70px;
	display: inline-block;
	margin-left: 60px;
	transform: translateY(50px);
}

#antennaDot1 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #451818;
	margin-top: -5px;
	margin-left: -5px;
	cursor: pointer;
}

#handle {
	width: 460px;
	height: 80px;
	border-style: solid;
	border-bottom: none;
	border-top: solid 60px #451818;
	border-left: solid 30px #451818;
	border-right: solid 30px #451818;
	display: inline-block;
}

#topButtons {
	width: 460px;
	height: 30px;
	position: relative;
	margin-top: 50px;
}

.buttonTopFiller {
	width: 5px;
	height: 30px;
	display: inline-block;
}

.buttonTop1 {
	width: 60px;
	height: 30px;
	display: inline-block;
	margin-left: 30px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop1On {
	width: 60px;
	height: 15px;
	display: inline-block;
	margin-left: 30px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop2 {
	width: 60px;
	height: 30px;
	display: inline-block;
	margin-left: 20px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop2On {
	width: 60px;
	height: 15px;
	display: inline-block;
	margin-left: 20px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop3 {
	width: 60px;
	height: 30px;
	display: inline-block;
	margin-left: 20px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop3On {
	width: 60px;
	height: 15px;
	display: inline-block;
	margin-left: 20px;
	background-color: #451818;
	cursor: pointer;
}

.buttonPower {
	width: 60px;
	height: 30px;
	display: inline-block;
	margin-left: 100px;
	background-color: #451818;
	cursor: pointer;
}

.buttonPowerOn {
	width: 60px;
	height: 15px;
	display: inline-block;
	margin-left: 100px;
	background-color: #451818;
	cursor: pointer;
}

#box {
	width: 740px;
	height: 370px;
	background-color: #D16618;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -5px;
	z-index: 1;
	position: relative;
}

#controls {
	background-color: #F3BD1D;
	width: 550px;
	height: 50px;
	margin-bottom: 10px;
}

#volume {
	width: 300px;
	height: 10px;
	background-color: #451818;
	margin-left: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

#controlButtons {
	width: 210px;
	height: 15px;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -8px;
}

.buttonControl {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.buttonControla {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControla;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControla {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #F1582F;
	}
}

.buttonControl2 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.buttonControl2a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControl2a;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControl2a {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #52438B;
	}
}

.buttonControl3 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.buttonControl3a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControl3a;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControl3a {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #0E448B;
	}
}

.buttonControl4 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.buttonControl4a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControl4a;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControl4a {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #E73150;
	}
}

.buttonControl5 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.buttonControl5a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControl5a;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControl5a {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #72C050;
	}
}

.buttonControl6 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.buttonControl6a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControl6a;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControl6a {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #EA8A72;
	}
}

#buttonControlFlash {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	animation-name: buttonControl;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes buttonControl {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #A62926;
	}
}

.speaker {
	margin-top: 25px;
	background-color: #F2E4B3;
	border-radius: 50%;
	width: 230px;
	height: 230px;
	border: 15px solid #A62926;
	display: inline-block;
}

.speakerIn {
	background-color: #12B8DE;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 75px solid #20A69B;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.speakerTop {
	background: url(images/dots.png) repeat;
	background-size: 150px 150px;
	border-radius: 50%;
	width: 210px;
	height: 210px;
	margin-left: -75px;
	margin-top: -75px;
}

#center {
	display: inline-block;
	width: 175px;
	height: 200px;
	background-color: #451818;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: -25px;
}

#cassette {
	background-color: #20A69B;
	width: 130px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-bottom: 20px solid #A62926;
	cursor: pointer;
}



#cassette2 {
	background-color: #12B8DE;
	width: 130px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-bottom: 20px solid #F3BD1D;
	cursor: pointer;
}

.reel2 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #F3BD1D;
	display: inline-block;
	float: left;
	margin-top: 15px;
}

#window2 {
	width: 50px;
	height: 25px;
	border-radius: 25%;
	background: #F3BD1D;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.reel {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #A62926;
	display: inline-block;
	float: left;
	margin-top: 15px;
}

.spin1 {
	width: 25px;
	margin-top: 12px;
	background-color: #451818;
	height: 3px;
	border-radius: 50%;
}

.spin {
	width: 25px;
	margin-top: 12px;
	background-color: #451818;
	height: 3px;
	border-radius: 50%;
	animation: spin 2s infinite linear;
	transform-origin: 50% 50%;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#window {
	width: 50px;
	height: 25px;
	border-radius: 25%;
	background: #A62926;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

#tape {
	margin-left: auto;
	margin-right: auto;
	width: 110px;
	height: 20px;
}

#point {
	margin-left: 5px;
	width: 5px;
	height: 10px;
	background-color: #F2E4B3;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	-ms-transition: all 2s ease;
}

#volume:hover #point {
	-webkit-transform: translate(285px);
	-moz-transform: translate(285px);
	-o-transform: translate(285px);
	-ms-transform: translate(285px);
}