/* MADE WITH LOVE BY JACQUELYN ZEN */

body {
	background-color: #F2E4B3;
}

#boombox {
	margin-top: 100px;
}

#boombox,
#box,
#top,
#controls {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#antenna {
	height: 250px;
	width: 5px;
	background-color: #451818;
	margin-right: 70px;
	display: inline-block;
	margin-left: 50px;
}

#antennaDot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #451818;
	margin-top: -5px;
	margin-left: -5px;
}

#handle {
	width: 300px;
	height: 60px;
	border-style: solid;
	border-bottom: none;
	border-top: solid 40px #451818;
	border-left: solid 20px #451818;
	border-right: solid 20px #451818;
	display: inline-block;
	border-top-left-radius: 1%;
}

#topButtons {
	width: 290px;
	#desktop-nav-toggle.switch {
		transform: rotate(180deg);
	}
	height: 20px;
	margin-top: 40px;
	padding-left: 10px;
}

.buttonTop1 {
	width: 35px;
	height: 20px;
	display: inline-block;
	margin-left: 10px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop1On {
	width: 35px;
	height: 10px;
	display: inline-block;
	margin-left: 10px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop2 {
	width: 35px;
	height: 20px;
	display: inline-block;
	margin-left: 10px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop2On {
	width: 35px;
	height: 10px;
	display: inline-block;
	margin-left: 10px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop3 {
	width: 35px;
	height: 20px;
	display: inline-block;
	margin-left: 10px;
	background-color: #451818;
	cursor: pointer;
}

.buttonTop3On {
	width: 35px;
	height: 10px;
	display: inline-block;
	margin-left: 10px;
	background-color: #451818;
	cursor: pointer;
}

.buttonPower {
	width: 35px;
	height: 20px;
	display: inline-block;
	margin-left: 90px;
	background-color: #451818;
	cursor: pointer;
}

.buttonPowerOn {
	width: 35px;
	height: 10px;
	display: inline-block;
	margin-left: 90px;
	background-color: #451818;
	cursor: pointer;
}

#box {
	width: 600px;
	height: 290px;
	background-color: #D16618;
	margin-top: -4px;
	padding-top: 30px;
	padding-left: 20px;
}

#controls {
	background-color: #F3BD1D;
	width: 400px;
	height: 40px;
}

#volume {
	width: 200px;
	height: 5px;
	background-color: #451818;
	margin-left: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#controlButtons {
	width: 150px;
	height: 15px;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -5px;
}

.buttonControl {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
}

#buttonControlFlash {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F2E4B3;
	display: inline-block;
	margin-right: 10px;
	-webkit-animation-name: buttonControl;
	-webkit-animation-duration: 1s;
	animation-name: buttonControl;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes buttonControl {
	from {
		background-color: #F2E4B3;
	}
	to {
		background-color: #A62926;
	}
}

.speaker {
	margin-top: 30px;
	background-color: #F2E4B3;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	border: 10px solid #A62926;
	display: inline-block;
}

.speakerIn {
	background-color: #1DACCA;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	border: 50px solid #20A69B;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.speakerTop {
	background: url(images/dots.png) repeat;
	background-size: 100px 100px;
	border-radius: 50%;
	width: 165px;
	height: 165px;
	margin-left: -50px;
	margin-top: -50px;
}

#center {
	display: inline-block;
	width: 150px;
	height: 180px;
	background-color: #451818;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -20px;
}

#cassette {
	background-color: #20A69B;
	width: 120px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-bottom: 20px solid #A62926;
}

.reel {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #A62926;
	display: inline-block;
	float: left;
	margin-top: 15px;
}

.spin {
	width: 20px;
	margin-top: 9px;
	background-color: #451818;
	height: 2px;
	border-radius: 50%;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-ms-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#window {
	width: 40px;
	height: 20px;
	border-radius: 25%;
	background: #A62926;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

#tape {
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 20px;
}
